.groupBlocks {
    display: flex;
    justify-content: space-between;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.blocksPart {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.eventBlock {
    display: flex;
    flex-direction: column;
    max-width: 18vw;
    border: 1px solid black;    
}

.name {
    font-size: 1.3vw;
    line-height: 1vw;
    max-width: 30vw;
    margin: 5px;

}

.date {
    font-size: 1vw;
    margin: 5px;
    
}

.image {
    width: 18vw;
    height: 18vh;
}