.main {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.b {
    font-size: 23px;
    font-weight: 800;
}

.headText {
    font-size: 20px;
    font-weight: 800;
}

.date {
    font-size: 13px;
}

.author {
    font-size: 13px;
    margin-left: 5px;
    color: blue;
}

.group {
    display: flex;
    margin-bottom: 10px;
}

.textFeed {
    font-size: 16px;
    text-align: justify;
}

.createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 100%;
    margin-bottom: 10px;
}

.publish {
    background-color: rgb(20, 8, 97);
    color: white;
}
.newsLine {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttonCreate {
    font-size: 10px;
    background-color: rgb(20, 8, 97);
    color: white;
    width: 120px;
    height: 30px;
}

.buttonCreate:hover, .publish:hover {
    background-color: #0065b3;
}