.heading{
    font-size: 220%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
}

.blocksPart {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 20vw; 
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 220%;
    text-align: center;
    padding-bottom: 30px;
}

.buttonStyle {
    background-color: rgb(20, 8, 97);
    color: aliceblue;
}

.buttonStyle:hover {
    background-color: rgb(18, 10, 73);
    color: aliceblue;
}